@charset "utf-8";
* { margin: 0; padding: 0; border: 0;}


body h1 {
	background-image: url(../images/backgroundtitle.jpg);
	background-size: cover;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	line-height: 3cm;
	background-repeat: repeat;
}
body {
	background-color: #161F2B;
}

img {
	width: 10cm;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
}


body h4 {
	color: #EEE6E6;
	padding-left: 40px;
	padding-right: 40px;
}


my-container {
	border: 2px groove #B3C8DB;
	color: cadetblue;
	background-color: pink;
	padding-left: 40px;
	padding-right: 40px
}

